.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 50px;
  padding: 0 20px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input , .trybewarts-login button {
  margin-right: 10px;
}

.trybewarts-login button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.trybewarts-login button:hover {
  background-color: white;
  color: rgb(50, 167, 145);
}

.main {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  margin-top: 20px; /* Espaçamento superior para separar do header */
}

.trybewarts-form {
  display: flex;
  flex-direction: column; /* Define a direção dos itens como coluna */
  width: 675px;
}

.form-wrapper {
  display: flex;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 20px; /* Espaçamento entre o formulário e a imagem */
}

.name-wrapper {
  display: flex;
}

#input-name {
  margin-right: 10px; /* Espaçamento entre os campos de Nome e Sobrenome */
}

.email-house-wrapper {
  display: flex;
}

#input-email {
  margin-right: 10px; /* Espaçamento entre os campos de Email e Casa */
}

.radio-wrapper {
  margin-top: 5px; /* Espaçamento entre o label e os radio buttons */
}

footer {
  text-align: center; /* Centraliza o texto */
  position: fixed; /* Fixa o rodapé na tela */
  bottom: 0; /* Define a posição do rodapé no final da tela */
  width: 100%; /* Define a largura do rodapé para ocupar toda a largura da tela */
  background-color: rgb(50, 167, 145); /* Cor de fundo do rodapé */
  color: white; /* Cor do texto do rodapé */
  padding: 10px 0; /* Espaçamento interno do rodapé */
}
.trybewarts-header-logo {
  height: 100%; /* Define a altura da logo para preencher toda a altura do header */
  margin-left: 20px; /* Espaçamento entre a logo e o título */
}

#submit-btn {
  width: 100px; /* Definindo a largura do botão igual à largura da checkbox */
  margin-top: 10px; /* Espaçamento superior para separar do checkbox */
}
