.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 50px;
  padding: 0 20px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input, .trybewarts-login button {
  margin-right: 10px;
}

.trybewarts-login button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.trybewarts-login button:hover {
  background-color: white;
  color: rgb(50, 167, 145);
}

.main {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  margin-top: 20px; /* Espaçamento superior para separar do header */
}

.trybewarts-form {
  display: flex;
  flex-direction: column; /* Define a direção dos itens como coluna */
  width: 675px;
  /* Outros estilos para o formulário, se necessário */
}

.form-wrapper {
  display: flex;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 20px; /* Espaçamento entre o formulário e a imagem */
}
